# Precompiled Headers
*.gch
*.pch
*.log
*.log.old

/.idea
/.svn
/tools/ftofs/
/tools/bizpower/
/projects/hy/
/projects/limi/
/projects/tk/
/projects/wedo/
/projects/
/man/jetbrains-idea-clion/2023ÆÆ½â/win/
