[submodule "referto/abs-guide-cn"]
	path = referto/abs-guide-cn
	url = https://github.com/chaoqing/abs-guide-cn
[submodule "referto/fengyuhetao"]
	path = referto/fengyuhetao
	url = https://github.com/fengyuhetao/shell
[submodule "referto/superglue"]
	path = referto/superglue
	url = https://github.com/imaginate/superglue.git
[submodule "referto/acme.sh"]
	path = referto/acme.sh
	url = https://github.com/acmesh-official/acme.sh.git
[submodule "referto/bash-it"]
	path = referto/bash-it
	url = https://github.com/Bash-it/bash-it.git
